<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PG Day France 2027 - Appel à Candidature pour l'organisation de l'événement en juin 2027">
    <title>PG Day France - {{ page.title }}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/modern.css" rel="stylesheet">
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/fonts/Gen-Light.otf" type="text/css"/>
    <link rel="shortcut icon" href="https://www.postgresql.fr/lib/tpl/tortoise/images/favicon.ico" />
    <link type="text/plain" rel="author" href="https://www.pgday.fr/humans.txt" />

    <!-- Pour linkedin -->
    <meta property="og:title" content="PG Day France 2027 - Appel à Candidature" />
    <meta property="og:description" content="Appel à Candidature pour l'organisation du PG Day France en juin 2027" />
    <meta property="og:url" content="https://pgday.fr/" />
<!--    <meta property="og:image" content="https://pgday.fr/img/twitter_2023.png" /> -->

    <!-- Pour twitter -->
    <meta name="twitter:title" content="PG Day France 2027 - Appel à Candidature">
    <meta name="twitter:description" content="Appel à Candidature pour l'organisation du PG Day France en juin 2027">
<!--    <meta name="twitter:image" content="https://pgday.fr/img/twitter_2023.png"> -->
    <meta name="twitter:card" content="summary_large_image">
</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand">
           <a href="/">PG Day France</a>
            <a class="brand-info" href="/">Juin 2027</a>
           </div>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" style="font-weight: bold;"><i class="fa fa-bullhorn"></i> Appel à candidature</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Édition 2026 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/programme">Programme 2026</a></li>
                <li><a href="/partenaires">Sponsors 2026</a></li>
                <li><a href="/orateurs">Orateurs 2026</a></li>
                <li><a href="/information">Infos pratiques 2026</a></li>
              </ul>
            </li>
            <li><a href="/contribuer">Contribuer</a></li>
            <li><a href="/apropos">A propos</a></li>
            <li><a href="https://postgresqlfr.myspreadshop.fr/">Boutique</a></li>
        </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row well">
    <div class="col-lg-12">
    {{ content }}
    </div>
  </div>
  </div>
    <div class="container" style="display: none;">
      <footer id="sponsors">
        <!--
        <h5>PARTNERS</h5>
        <div class="container">
          <div class="col-xs-12 col-md-4">
          <a href="https://www.dalibo.com/" class="thumbnail">
          <img src="img/dalibo.png" alt="Dalibo">
          </a>
          </div>
          <div class="col-xs-12 col-md-4">
          <a href="https://aws.amazon.com/" class="thumbnail">
          <img src="img/aws.png" alt="AWS">
          </a>
          </div>
        </div>
        <h5>COMMUNITY EVENT SPONSOR</h5>
        <div class="container">
          <div class="col-xs-12 col-md-4">
          <a href="https://www.maif.fr/" class="thumbnail">
          <img src="img/maif.png" alt="MAIF">
          </a>
          </div>
        </div>
        -->
      </footer>
    </div>

    <footer class="pg_footer">
      <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="footer-links" style="margin-bottom: 20px;">
                    <a href="/" style="margin: 0 15px; font-weight: bold; font-size: 1.1em;">Appel à candidature 2027</a>
                    <a href="/programme" style="margin: 0 15px; font-weight: bold; font-size: 1.1em;">Édition 2026</a>
                    <a href="/codedeconduite" style="margin: 0 15px; font-weight: bold; font-size: 1.1em;">Code de conduite</a>
                    <a href="/apropos" style="margin: 0 15px; font-weight: bold; font-size: 1.1em;">Contact</a>
                </div>

                <div class="social-links" style="margin-bottom: 30px;">
                     <a href="https://www.linkedin.com/company/postgresqlfr">
                        <img src="/img/linkedin.svg" class="pg_icon" alt="LinkedIn PostgreSQL-Fr">
                    </a>
                    <a href="https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g">
                        <img src="/img/youtube.svg" class="pg_icon" alt="Chaine Youtube">
                    </a>
                </div>
                
                <p>Suivez notre actualité sur <a href="https://www.linkedin.com/company/postgresqlfr">LinkedIn</a>, sur <a href="https://framapiaf.org/@postgresqlfr">Mastodon</a>,
                  ou abonnez vous à notre <a href="http://eepurl.com/wqJTP">lettre d'information</a>.</p>

                <p style="margin-top: 30px; font-size: 0.9em; opacity: 0.8;">
                    Le PG Day France est un évènement de <a href="http://www.postgresql.fr" title="Communauté PostgreSQL francophone">la communauté francophone de PostgreSQL</a>.
                </p>
                
                <div style="margin-top: 20px;">
                    <img src="/img/assoc_logo.png" alt="Association PostgreSQL-Fr" width="60px" height="60px" style="opacity: 0.8;">
                </div>
            </div>
        </div>
      </div>
  </footer>

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modern-business.js"></script>
    <script type='text/javascript'>
    </script>

  </body>
</html>
